<div class="col-lg-9">
  <section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Projects</h2>
    <div class="resume-section-content">
      <div class="resume-timeline position-relative">
        <% profile.projects.forEach(function(project){ %>
          <article class="resume-timeline-item position-relative pb-5">

            <div class="resume-timeline-item-header mb-2">
              <div class="d-flex flex-column flex-md-row">
                  <h3 class="resume-position-title font-weight-bold mb-1"><%= project.title %></h3>
                  <div class="resume-company-name ml-auto">
                    <div class="d-inline-flex">
                      <a href="<%= project.link %>">
                        <i class="fab fa-github"></i>
                        View code
                      </a>
                      <%- include('partials/snippets/edit.ejs',{form_url:"/projects/"+project._id+"/edit",text:""}); %>
                      <%- include('partials/snippets/remove.ejs',{delete_url:"/projects/"+project._id+"/delete"}); %>
                    </div>
                  </div>
              </div><!--//row-->
              <div class="resume-position-time"><%= project.time %></div>
            </div><!--//resume-timeline-item-header-->

            <div class="row">
               <% var images = project.images.split(" "); %>
               <% var col = Math.floor(12/images.length) %>
               <% for (var i = 0; i < images.length ; i++) { %>
                 <div class="col-lg-<%= col %>">
                    <img class="img-fluid" src="<%= images[i] %>" alt="">
                 </div>
              <% } %>
            </div> <!-- //row -->

            <div class="resume-timeline-item-desc">
              <!-- //Description of project goes here in its own format -->
              <%- project.description %>
              <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
              <ul class="list-inline">
                <% var techs = project.technologies.split(","); %>
                <% techs.forEach(function(tech){ %>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill"><%= tech %></span></li>
                <% }) %>
              </ul>
            </div><!--//resume-timeline-item-desc-->

          </article><!--//resume-timeline-item-->
        <% }) %>
      </div><!--//resume-timeline-->
   </div>

    <%- include('partials/snippets/add.ejs',{add_url:"projects/new"})%>
 </section><!--//experience-section-->
</div>
