<header class="resume-header pt-4 pt-md-0">
  <div class="media flex-column flex-md-row">
    <img class="mr-3 img-fluid picture mx-auto" src="<%= profile.header.image %>" alt="">
    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
      <div class="primary-info">
        <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase"><%= profile.header.name %></h1>
        <div class="subtitle mb-3"><%= profile.header.positions %></div>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i><%= profile.header.email %></a></li>
          <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i><%= profile.header.phoneNumber %></a></li>
        </ul>
      </div><!--//primary-info-->
      <div class="secondary-info ml-md-auto mt-2">
        <ul class="resume-social list-unstyled">
          <%  if (typeof profile.socialLinks != 'undefined') { %>
            <%  var linkArray = profile.socialLinks.split(" "); %>
            <% var iconArray = profile.socialIcons.split(","); %>
            <% console.log(linkArray); %>
            <% console.log(iconArray); %>
            <% for (var i = 0; i < linkArray.length; i++) { %>
              <li class="mb-3"><a href="<%= linkArray[i] %>"><span class="fa-container text-center mr-2"><i class="<%= iconArray[i] %> fa-fw"></i></span><%= linkArray[i] %></a></li>
            <% } %>
          <% } %>
        </ul>
      </div><!--//secondary-info-->

    </div><!--//media-body-->
    <%# The path is relative to the file which is using this snippet in it and if it is independed than
    the path is relative to this file only   %>
    <%- include('snippets/edit.ejs',{text:"",form_url:"/header/new",});%>
  </div><!--//media-->
</header>
