<% include ../partials/header.ejs %>
<p></p>
<div class="container col-lg-6">
  <h4>Add/Update Details</h4>
  <p></p>
  <form action="/header" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="header[email]" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="<%= profile.header.email %>">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" class="form-control" name="header[name]" id="exampleInputPassword1" placeholder="Name" value="<%= profile.header.name %>">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Image</label>
    <input type="text" class="form-control" name="header[image]" id="exampleInputPassword2" placeholder="Image Url" value="<%= profile.header.image %>">
  </div>
  <div class="form-group">
    <label for="exampleCheck1">Designation</label>
    <input type="text" class="form-control" name="header[positions]" id="exampleCheck1" placeholder="Designations(separated by ,)" value="<%= profile.header.positions %>">
  </div>
  <div class="form-group">
    <label for="exampleCheck2">Contact No.</label>
    <input type="text" class="form-control" id="exampleCheck2" name="header[phoneNumber]" placeholder="Contact Number" value="<%= profile.header.phoneNumber %>" >
  </div>
  <div class="form-group">
    <label for="exampleCheck3">Social Links</label>
    <input type="text" name="socialLinks[links]" class="form-control" id="exampleCheck3"  placeholder="link1 link2 ..(with http:// and space separated)" value="<%= profile.socialLinks %>" >
  </div>

  <div class="form-group">
    <label for="exampleCheck4">Icons</label>
    <input type="text" name="socialLinks[icons]" class="form-control" id="exampleCheck4" placeholder="fontawsome icon classes(class1,class2..(, separeted))" value="<%= profile.socialIcons %>" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% include ../partials/footer.ejs %>
</div>
